.articleThumb {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 300px;
    height: 250px;
    margin: 15px 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

.articleThumb
.shadow {
    transition: all 0.5s;
    opacity: 0;
    position:absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.7));
}

.articleThumb:hover
.shadow,
.articleThumb.selected
.shadow {
    opacity: 1;
}

.articleThumb
.thumb-img {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.articleThumb
.thumb-img
img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.articleThumb
.thumb-content {
    transition: all 0.5s;
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-flex-direction: column; /* Safari */
    flex-direction:         column;
    -webkit-justify-content: center; /* Safari */
    justify-content:         center;
    align-content: center;
    padding: 5px;
    box-sizing: border-box;
}


.articleThumb:hover
.thumb-content,
.articleThumb.selected
.thumb-content {
    transform: translateY(-25px);
}

.articleThumb
.thumb-content
h1 {
    text-transform: uppercase;
    width: 100%;
    align-self: center;
    color: inherit;
    font-size: 20px;
}

.articleThumb
.thumb-content
h1 span {
    text-transform: none;
    font-weight: 200;
}

.articleThumb
.thumb-content
h2 {
    transition: all 0.5s;
    opacity: 0;
    margin: 0;
    color: inherit;
    font-weight: 200;
    font-size: 17px;
    transform: translateY(25px);
}

.articleThumb:hover
.thumb-content
h2,
.articleThumb.selected
.thumb-content
h2 {
    opacity: 1;
    transform: translateY(0);
}
