.NavBar {
    transition: all 0.3s ease;
    height: 60px;
    background-color: #084c6d;
    z-index: 100;
    position: fixed;
    width: 100%;
    top: 0;
}

.NavBar.shown {
    top: 250px;
}

.NavBar
.nav-bar-content {
    height: 100%;
}

.NavBar
.nav-bar-left {
    float: left;
    height: 100%;
}

.NavBar
.nav-bar-left
.logo img {
    margin: 5px;
    height: 50px;
}

.NavBar
.nav-bar-right {
    display: flex;
    align-content: center;
    float: right;
    height: 100%;
}

.NavBar
.nav-bar-right
a {
    align-self: center;
    color: white;
    font-size: 20px;
    padding: 0 20px;
    cursor: pointer;
    text-decoration: none;
}

.NavBar
.nav-bar-right
a span {
    cursor: pointer;
}

.NavBar
.nav-bar-right
a img {
    height: 15px;
    transition: all 0.3s;
}

.NavBar
.nav-bar-right
.open
img {
    transform: rotateX(180deg);
}

.NavBar
.nav-bar-right
.mobile-btn
a {
    display: none;
}

.NavBar
.nav-bar-right
.mobile-btn
img {
    height: 25px;
}

.NavBar
.nav-bar-dropdown {
    position: fixed;
    right: 40px;
    z-index: 10;
}

.NavBar
.nav-bar-dropdown
ul {
    list-style: none;
    margin: 0;
}

.NavBar
.nav-bar-dropdown
li {
    width: 175px;
    height: 50px;
    background: rgba(8, 76, 109, 0.9);
    margin: 5px;
    padding: 15px;
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-weight: 200;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    cursor: pointer;
}

.NavBar
.mobile-nav {
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 250px;
    background: #084c6d;
    top: 0;
    z-index: 10;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    padding: 10px 0;
    box-sizing: border-box;
}

.NavBar.shown
.mobile-nav {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.NavBar
.mobile-nav
ul {
    align-self: center;
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
    color: white;
    text-transform: uppercase;
    width: 100%;
}

.NavBar
.mobile-nav
a {
    text-decoration: none;
    color: white;
}

.NavBar
.mobile-nav
span {
    padding: 0 5px;
}

.NavBar
.mobile-nav
img {
    height: 15px;
}

.NavBar
.mobile-nav
.open
img {
    transform: rotateX(180deg);
}

@media (max-width: 750px) {

    .NavBar
    .nav-bar-right
    >a {
        display: none;
    }
    .NavBar
    .nav-bar-right
    .mobile-btn
    a {
        padding: 0;
        margin: 15px;
        display: block;
    }
}
