<div class="NavBar" :class="{shown: mobile_nav}">
    <div class="nav-bar-content">
        <div class="nav-bar-left">
            <a class="logo" href="//www.backtracker.co" ><img src="resources/logo-shadow.png" /></a>
        </div>
        <div class="nav-bar-right">
            <a href="//www.backtracker.co">Home</a>
            <a v-link.literal="/">Blogs <span @click.stop.prevent="toggle_categories" :class="{open: categ}"><img src="resources/chevron.svg" class="toggle" /></span></a>
            <!-- <a v-link.literal="/gallery">Gallery</a> -->
            <a href="//app.backtracker.co/#/?login=t&menu=t" class="login">Web app</a>
            <div class="mobile-btn">
                <a @click="toggle_mobile_nav">
                    <img src="resources/cross.png" v-show="mobile_nav"/>
                    <img src="resources/burger.png" v-else/>
                </a>
            </div>
        </div>
    </div>
    <div class="nav-bar-dropdown" v-show="categ" transition="left-slide">
        <ul>
            <li v-link.literal="/?f=europe">Europe</li>
            <li v-link.literal="/?f=northamerica">North America</li>
            <li v-link.literal="/?f=latinamerica">Latin America</li>
            <li v-link.literal="/?f=aus">Australasia</li>
            <li v-link.literal="/?f=asia">Asia</li>
            <li v-link.literal="/?f=africa">Africa</li>
        </ul>
    </div>
    <div class="mobile-nav">
        <ul>
            <li @click.stop="toggle_mobile_categories">Blogs</li>
            <li>&mdash;</li>
            <template v-if="mobile_categ">
                <li v-link.literal="/">All</li>
                <li v-link.literal="/?f=europe">Europe</li>
                <li v-link.literal="/?f=northamerica">North America</li>
                <li v-link.literal="/?f=latinamerica">Latin America</li>
                <li v-link.literal="/?f=aus">Australasia</li>
                <li v-link.literal="/?f=asia">Asia</li>
                <li v-link.literal="/?f=africa">Africa</li>
            </template>
            <template v-else>
                <!-- <li v-link.literal="/gallery">Gallery</li> -->
                <li>&mdash;</li>
                <li><a href="mailto:henry@backtrackerapp.co.uk">Contact</a></li>
                <li>&mdash;</li>
                <li><a target="_blank" href="https://www.facebook.com/backtrackerapp">Facebook</a></li>
                <li><a target="_blank" href="https://twitter.com/BacktrackerApp">Twitter</a></li>
                <li><a target="_blank" href="http://instagram.com/backtrackerapp/">Instagram</a></li>
            </template>
        </ul>
    </div>
</div>
