<div class="ArticlesPage">
    <div class="articles-index" :class="{side: viewed}">
        <h4 v-if="$loadingRouteData" class="loader">Loading...</h4>
        <h4 v-if="filter && !$loadingRouteData" v-text="fancy_filter"></h4>
        <article-thumb v-for="article in articles" :article="article" @click="open_article(article)"></article-thumb>
        <h4 v-if="articles.length == 0">Woops I guess we haven't been there! <br> Want to send us tickets and we'll tell you all about it?</h4>
    </div>
    <div class="article-detail">
        <router-view :article.sync="viewed"><router-view>
    </div>
</div>
