.ArticlesPage {
    width: 100%;
    height: 100%;
    position: relative;
}

.ArticlesPage
.articles-index {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    text-align: center;
    padding-bottom: 28px;
    box-sizing: border-box;
}

.ArticlesPage
.articles-index
.back {
    position: fixed;
    top: 65px;
    width: 50px;
    height: 50px;
    background: #084c6d;
    z-index: 100;
    padding: 6px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    cursor: pointer;
}

.ArticlesPage
.articles-index
.back
img {
    width: 100%;
    height: 100%;
}

.ArticlesPage
.articles-index
.flex {
    -webkit-align-content: flex-start; /* Safari */
    align-content:         flex-start;
    -webkit-justify-content: center; /* Safari */
    justify-content:         center;
    -webkit-flex-wrap: wrap; /* Safari */
    flex-wrap:         wrap;
    display: -webkit-inline-flex;
    display:         inline-flex;
    width: 100%;
}

.ArticlesPage
.articles-index
button {
    border: none;
    color: white;
    background: #084c6d;
    padding: 10px;
    margin: 20px;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

.ArticlesPage
.articles-index
h4 {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0;
    padding: 0 15px;
    box-sizing: border-box;
}

.ArticlesPage
.articles-index
.filter {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 200;
}

.ArticlesPage
.articles-index.side {
    position: absolute;
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 20%;
    background: white;
    -webkit-box-shadow: 4px 0px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 0px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 0px 9px 0px rgba(0,0,0,0.75);

}
/* Scrollbar */

.ArticlesPage
.articles-index.side::-webkit-scrollbar{
    width: 5px;
}
.ArticlesPage
.articles-index.side::-webkit-scrollbar-thumb{
    background-color:rgb(8, 76, 109);
    border-radius: 0;
}
.ArticlesPage
.articles-index.side::-webkit-scrollbar-thumb:hover{
    background-color:rgb(8, 76, 109);
}
.ArticlesPage
.articles-index.side::-webkit-scrollbar-track{
    background-color:rgb(237, 237, 237);
}


/* End Scrollbar */

.ArticlesPage
.articles-index.side
.articleThumb:first-child {
    margin-top: 25px;
}

.ArticlesPage
.articles-index.side
.articleThumb:last-child {
    margin-bottom: 25px;
}

.ArticlesPage
.article-detail {
    position: absolute;
    right: 0;
    width: 80%;
    overflow: scroll;
    height: 100%;
    padding: 25px 5%;
    box-sizing: border-box;
}

@media (max-width: 1000px) {
    .ArticlesPage
    .articles-index.side {
        display: none;
    }

    .ArticlesPage
    .article-detail {
        width: 100%;
    }
}
